<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
	 <div th:fragment="navAdmin" class="col-md-2 sidebar">
          <div class="logo nav-item"><a href="admin.html">Quản lý</a></div>

          <div class="nav-item has-submenu">
            <a href="#"><i class="fas fa-box"></i> Sản Phẩm</a>
          </div>
          <div class="submenu">
            <div class="nav-item"><a href="/products/new">Thêm sản phẩm</a></div>
            <div class="nav-item"><a href="/products">Hiển thị sản phẩm</a></div>
          </div>
          <div class="nav-item has-submenu">
            <a href="#"><i class="fas fa-box"></i> Danh Mục</a>
          </div>
          <div class="submenu">
            <div class="nav-item">
              <a href="/categories/new">Thêm danh mục</a>
            </div>
            <div class="nav-item">
              <a href="/categories">Hiển thị danh mục</a>
            </div>
          </div>
          <div class="nav-item has-submenu">
            <a href="#"><i class="fas fa-users"></i> Người dùng</a>
          </div>
          <div class="submenu">
            <div class="nav-item"><a href="/users/new">Thêm người dùng</a></div>
            <div class="nav-item"><a href="/users">Hiển thị người dùng</a></div>
          </div>
           <div class="nav-item has-submenu">
                    <a href="#"><i class="fas fa-percent"></i> Giảm giá</a>
                </div>
                <div class="submenu">
                    <div class="nav-item"><a href="/discounts/new">Thêm giảm giá</a></div>
                    <div class="nav-item"><a href="/discounts">Hiển thị giảm giá</a></div>
                </div>
        </div>
</html>