<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navigation">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<!-- Logo và Tên Shop -->
			<a class="navbar-brand d-flex align-items-center" href="#"> <img
				src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/111347945_149761543443087_5072562482487010106_n.png?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=8ZvgBmWDyEoQ7kNvgHa3jNb&_nc_ht=scontent.fhan14-2.fna&_nc_gid=A6xdGRhrwMtPnWPksQczALV&oh=00_AYDXjNbsaR1cHwD4Qo5pZ3CgQP4Un25AasKSKWt7lzRTUg&oe=6705D921"
				alt="Logo" width="40" height="40" class="mr-2" /> <span>F
					FASHION</span>
			</a>

			<!-- Mega Menu -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#">Sản phẩm
							mới</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Sale</a></li>
					<!-- Mega Menu Áo -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Áo </a>
						<div class="dropdown-menu mega-menu"
							aria-labelledby="navbarDropdown">
							<div class="row">
								<!-- Cấp 2: Áo khoác -->
								<div class="col-md-4">
									<h6>Áo khoác</h6>
									<!-- Cấp 3: Áo bomber, hoodie, phao -->
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Bomber</a></li>
										<li><a class="dropdown-item" href="#">Hoodie</a></li>
										<li><a class="dropdown-item" href="#">Áo phao</a></li>
									</ul>
								</div>
								<!-- Cấp 2: Áo thun -->
								<div class="col-md-4">
									<h6>Áo thun</h6>
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Áo thun cổ tròn</a></li>
										<li><a class="dropdown-item" href="#">Áo thun cổ tim</a></li>
										<li><a class="dropdown-item" href="#">Áo thun thể
												thao</a></li>
										<li><a class="dropdown-item" href="#">Áo thun polo</a></li>

									</ul>
								</div>
								<!-- Cấp 2: Áo sơ mi -->
								<div class="col-md-4">
									<h6>Áo sơ mi</h6>
									<!-- Cấp 3: Các loại áo sơ mi -->
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Áo sơ mi trắng</a></li>
										<li><a class="dropdown-item" href="#">Áo sơ mi kẻ sọc</a></li>
										<li><a class="dropdown-item" href="#">Áo sơ mi tay
												ngắn</a></li>
										<li><a class="dropdown-item" href="#">Áo sơ mi caro</a></li>
									</ul>
								</div>
							</div>
						</div></li>

					<!-- Mega Menu Quần -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Quần </a>
						<div class="dropdown-menu mega-menu"
							aria-labelledby="navbarDropdown">
							<div class="row">
								<!-- Cấp 2: Quần short -->
								<div class="col-md-4">
									<h6>Quần short</h6>
									<!-- Cấp 3: Quần short kaki, thun, nỉ -->
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Quần short kaki</a></li>
										<li><a class="dropdown-item" href="#">Quần short thun</a></li>
										<li><a class="dropdown-item" href="#">Quần short nỉ</a></li>
									</ul>
								</div>
								<!-- Cấp 2: Quần jean -->
								<div class="col-md-4">
									<h6>Quần jean</h6>
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Quần jean
												slimfit</a></li>
										<li><a class="dropdown-item" href="#">Quần jean
												regular</a></li>
										<li><a class="dropdown-item" href="#">Quần jean
												skinny</a></li>
										<li><a class="dropdown-item" href="#">Quần jean bass</a></li>

									</ul>
								</div>
								<!-- Cấp 2: Quần sịp -->
								<div class="col-md-4">
									<h6>Quần sịp</h6>
									<!-- Cấp 3: Các loại quần sịp -->
									<ul class="list-unstyled">
										<li><a class="dropdown-item" href="#">Quần sịp boxer</a></li>
										<li><a class="dropdown-item" href="#">Quần sịp tam
												giác</a></li>
										<li><a class="dropdown-item" href="#">Quần sịp lọt
												khe</a></li>
									</ul>
								</div>
							</div>
						</div></li>

					<li class="nav-item"><a class="nav-link" href="#">Tin tức</a>
					</li>
				</ul>
			</div>
			<!-- Icon giỏ hàng, thanh tìm kiếm và thông tin tài khoản -->
			<div
				class="navbar-icons d-flex align-items-center ml-auto justify-content-end">
				<!-- Phần thanh tìm kiếm -->
				<form class="form-inline my-2 my-lg-0 search-bar">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Tìm kiếm" aria-label="Search">
				</form>

				<!-- Icon giỏ hàng -->
				<div class="cart-icon">
					<a href="/shopping-cart/view" class="nav-link"> <i
						class="fa fa-shopping-cart"></i> <span class="cart-count">
							<span th:text="${totalItems != null ? totalItems : 0}"></span>
					</span>
					</a>
				</div>

				<!-- Thông tin tài khoản -->
				<div class="account-info d-flex align-items-center">
					<div class="login-box">
						<a href="#" class="nav-link">Đăng nhập</a>
					</div>
					<div class="register-box">
						<a href="#" class="nav-link">Đăng ký</a>
					</div>
				</div>
				<!-- Nút toggle khi trên mobile -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</nav>
</div>
</html>