 <!--  Author: Ngô Văn Quốc Thắng 11/05/1996 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Admin Dashboard</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="height: 100vh">
			<div th:replace="~{/fragment/navAdmin :: navAdmin}"></div>
			<div class="col-md-10">
				<div class="header">
					<h1>Người dùng</h1>
				</div>
				<!-- Hiển thị thông báo thành công và lỗi -->
				<div th:if="${successMessage}" class="alert alert-success"
					role="alert">
					<span th:text="${successMessage}"></span>
				</div>
				<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
					<span th:text="${errorMessage}"></span>
				</div>

				<form id="userForm"
					th:action="@{${user1.id == null ? '/users' : '/users/update'}}"
					th:object="${user1}" method="post">
					<input type="hidden" name="id" th:value="${user1.id}" />

					<!-- Basic Information -->
					<div class="form-section">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="email">Email:</label> 
								<input class="form-control" type="email" id="email" name="email" th:value="${user1.email}" th:readonly="${user1.id != null}" /> 
								<small id="emailError"
									class="form-text text-danger"></small> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
							</div>
							<div class="form-group col-md-6">
								<label for="password">Mật khẩu:</label> <input class="form-control" type="password" id="password" name="password" th:value="${user1.password}" th:readonly="${user1.id != null}" /> <small id="passwordError"
									class="form-text text-danger"></small> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></small>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="userName">Tên người dùng:</label> <input
									class="form-control" type="text" id="userName" name="userName"
									th:value="${user1.userName}" /> <small id="userNameError"
									class="form-text text-danger"></small> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('userName')}"
									th:errors="*{userName}"></small>
							</div>

							<div class="form-group col-md-6">
								<label for="roles">Roles:</label>
								<div class="form-check" th:each="role : ${allRoles}">
									<input class="form-check-input" type="checkbox"
										th:id="${'role' + role.id}" name="roleIds"
										th:value="${role.id}"
										th:checked="${selectedRoleIds != null && selectedRoleIds.contains(role.id)}">
									<label class="form-check-label" th:for="${'role' + role.id}"
										th:text="${role.role}"></label>
								</div>
								<small id="rolesError" class="form-text text-danger"></small> <small
									class="form-text text-danger" th:if="${roleError}"
									th:text="${roleError}"></small>
							</div>

						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="phone">Số điện thoại:</label> <input
									class="form-control" type="tel" id="phone" name="phone"
									th:value="${user1.phone}" /> <small id="phoneError"
									class="form-text text-danger"></small> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
							</div>
							<div class="form-group col-md-6">
								<label for="status">Trạng thái:</label> <select
									class="form-control" id="status" name="status" required>
									<option value="ACTIVE"
										th:selected="${selectedStatus == 'ACTIVE'}">Hoạt động</option>
									<option value="INACTIVE"
										th:selected="${selectedStatus == 'INACTIVE'}">Không
										hoạt động</option>
								</select>

							</div>
						</div>
					</div>

					<!-- Address -->
					<div class="form-section">
						<label for="address">Địa chỉ:</label>
						<div class="form-group">
							<textarea class="form-control" id="address" name="address"
								rows="3" th:text="${user1.address}"></textarea>
							<small id="addressError" class="form-text text-danger"></small> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
						</div>
					</div>

					<!-- Metadata -->
					<div class="form-section" th:if="${user1.id != null}">
						<h4>Thông Tin Khác</h4>
						<div class="form-row">
							<div class="form-group col-md-6"
								th:if="${user1.createdDate != null}">
								<label for="createdDate">Ngày Tạo:</label> <input
									class="form-control" type="date" id="createdDate"
									name="createdDate" th:value="${user1.createdDate}" readonly />
							</div>
							<div class="form-group col-md-6"
								th:if="${user1.updatedDate != null}">
								<label for="updatedDate">Ngày Cập Nhật:</label> <input
									class="form-control" type="date" id="updatedDate"
									name="updatedDate" th:value="${user1.updatedDate}" readonly />
							</div>
						</div>
					</div>

					<!-- Submit Buttons -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary"
							th:text="${user1.id == null ? 'Thêm Người Dùng' : 'Cập Nhật Người Dùng'}"></button>
						<a href="/users" class="btn btn-secondary">Hủy</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script>
		$(document)
				.ready(
						function() {
							$(".has-submenu").click(function() {
								$(this).next(".submenu").slideToggle();
							});

							$("#userForm")
									.submit(
											function(event) {
												event.preventDefault();

												$(".alert").hide(); //Ẩn tất cả các tin nhắn cảnh báo
												$(".form-text.text-danger")
														.text(""); //Xóa tất cả các thông báo lỗi
												var userName = $("#userName")
														.val().trim();
												var phone = $("#phone").val()
														.trim();
												var address = $("#address")
														.val().trim();
												var isValid = true;

												var isNewUser = $("#userForm")
														.attr("action")
														.endsWith("/users");

												if (userName === "") {
													$("#userNameError")
															.text(
																	"Tên người dùng không được để trống.");
													isValid = false;
												}

												if (isNewUser) {
													var email = $("#email")
															.val().trim();
													var password = $(
															"#password").val();

													if (email === "") {
														$("#emailError")
																.text(
																		"Email không được để trống.");
														isValid = false;
													} else if (!isValidEmail(email)) {
														$("#emailError")
																.text(
																		"Email phải đúng định dạng.");
														isValid = false;
													}

													if (password === "") {
														$("#passwordError")
																.text(
																		"Mật khẩu không được để trống.");
														isValid = false;
													} else if (password.length < 8) {
														$("#passwordError")
																.text(
																		"Mật khẩu phải có ít nhất 8 ký tự.");
														isValid = false;
													} else if (!/[A-Z]/
															.test(password)) {
														$("#passwordError")
																.text(
																		"Mật khẩu phải có ít nhất 1 ký tự viết hoa.");
														isValid = false;
													}
												}

												if (phone === "") {
													$("#phoneError")
															.text(
																	"Số điện thoại không được để trống.");
													isValid = false;
												} else if (!/^\d{10}$/
														.test(phone)) {
													$("#phoneError")
															.text(
																	"Số điện thoại phải có 10 chữ số.");
													isValid = false;
												}

												if (address === "") {
													$("#addressError")
															.text(
																	"Địa chỉ không được để trống.");
													isValid = false;
												}

												// Kiểm tra vai trò
												if ($("input[name='roleIds']:checked").length === 0) {
													$("#rolesError")
															.text(
																	"Vui lòng chọn ít nhất một vai trò.");
													isValid = false;
												}

												if (isValid) {
													$("#email, #password")
															.prop("disabled",
																	false);  
													this.submit();
												}
											});

							function isValidEmail(email) {
								var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
								return emailRegex.test(email);
							}
						});
	</script>
</body>
</html>