<!-- @author Duong Van Luc 01/07/2000 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- <meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thông tin khách hàng</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/navigation.css">
	<style>
		body,
		html {
			height: 92%;
			margin: 0;
			font-family: Arial, sans-serif;
			background-color: #F0F0F0;
		}

		.wrapper {
			display: flex;
			height: 100%;
		}

		/* Sidebar styles */
		.sidebar {
			width: 250px;
			height: 100%;
			background-color: white;
			color: #000000;
			display: flex;
			flex-direction: column;
			padding-top: 20px;
		}

		.sidebar a {
			color: #000000;
			text-decoration: none;
			padding: 15px;
			display: block;
			font-size: 18px;
		}

		.sidebar a:hover {
			background-color: #F0F0F0;
		}

		/* Content styles */
		.content {
			flex-grow: 1;
			padding: 20px;
			overflow-y: auto;
		}

		.form-group .btn {
			width: 40px;
			height: 40px;
		}
	</style>
</head>

<body>
	<div th:replace="~{/fragment/navHome :: navHome}"></div>

	<div class="wrapper mt-5">
		<!-- Sidebar -->
		<div class="sidebar mr-3 ml-5">
			<h5 class="text-center font-weight-bold border-bottom pb-2 custom-border ml-2 mr-2 mb-0">TÀI
				KHOẢN</h5>
			<a href="/information" class="d-block border-bottom py-2 ml-2 mr-2 pb-3 pt-3"><i
					class="fas fa-user mr-2"></i> Thông tin người dùng</a> <a href="/information/purchase-history"
				class="d-block border-bottom py-2 ml-2 mr-2 pb-3 pt-3"><i class="fas fa-history mr-2"></i> Lịch sử giao
				dịch</a>
		</div>

		<!-- Content -->
		<div class="content mr-5" style="background-color: white;">
			<div class="container">
				<h5 class="text-center font-weight-bold">THÔNG TIN NGƯỜI DÙNG</h5>
				<form id="customerForm" method="post" th:action="@{/information/update-info}">
					<!-- Trường Email -->
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Email:</label>
						<div class="col-sm-7">
							<input type="email" class="form-control" id="email" name="email" th:value="${user.email}"
								readonly>
						</div>
					</div>

					<!-- Trường Mật khẩu -->
					<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Mật
							khẩu:</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" id="password" name="password" value="••••••••••"
								readonly>
						</div>
						<div class="col-sm-3">
							<button type="button" class="btn btn-outline-info btn-edit" data-field="password">
								<i class="fas fa-edit"></i>
							</button>
						</div>
					</div>
					<!-- Trường Tên -->
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Tên
							người dùng:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="name" name="name" th:value="${user.userName}"
								readonly> <small class="text-danger error-message" id="nameError"></small>
							<!-- Phần tử hiển thị lỗi cho tên -->
						</div>
						<div class="col-sm-3">
							<button type="button" class="btn btn-outline-info btn-edit" data-field="name">
								<i class="fas fa-edit"></i>
							</button>
						</div>
					</div>

					<!-- Trường Số điện thoại -->
					<div class="form-group row">
						<label for="phone" class="col-sm-2 col-form-label">Số điện
							thoại:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="phone" name="phone" th:value="${user.phone}"
								readonly> <small class="text-danger error-message" id="phoneError"></small>
							<!-- Phần tử hiển thị lỗi cho số điện thoại -->
						</div>
						<div class="col-sm-3">
							<button type="button" class="btn btn-outline-info btn-edit" data-field="phone">
								<i class="fas fa-edit"></i>
							</button>
						</div>
					</div>

					<!-- Trường Địa chỉ -->
					<div class="form-group row">
						<label for="address" class="col-sm-2 col-form-label">Địa
							chỉ:</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="address" name="address"
								th:value="${user.address}" readonly> <small class="text-danger error-message"
								id="addressError"></small>
							<!-- Phần tử hiển thị lỗi cho địa chỉ -->
						</div>
						<div class="col-sm-3">
							<button type="button" class="btn btn-outline-info btn-edit" data-field="address">
								<i class="fas fa-edit"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<!-- Modal for changing password -->
	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title font-weight-bold" id="passwordModalLabel">Đổi
						mật khẩu</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="passwordChangeForm" th:action="@{/information/change-password}" method="post">
						<div class="form-group">
							<label for="oldPassword">Mật khẩu cũ: <span class="text-danger">*</span></label> <input
								type="password" class="form-control" id="oldPassword" name="oldPassword" required>
							<small id="passwordError" class="form-text text-danger"></small>
							<!-- Thêm thẻ small để hiển thị thông báo lỗi -->
						</div>
						<div class="form-group">
							<label for="newPassword">Mật khẩu mới: <span class="text-danger">*</span></label> <input
								type="password" class="form-control" id="newPassword" name="newPassword" required>
							<small id="newPasswordError" class="form-text text-danger"></small>
						</div>
						<div class="form-group">
							<label for="confirmNewPassword">Nhập lại mật khẩu mới: <span
									class="text-danger">*</span></label> <input type="password" class="form-control"
								id="confirmNewPassword" name="confirmNewPassword" required> <small
								id="confirmPasswordError" class="form-text text-danger"></small>
						</div>
						<!-- Thêm phần tử để hiển thị lỗi -->
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-primary" id="savePassword">Lưu
						mật khẩu</button>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{/fragment/footer :: footer}"></div>
	<!-- <script th:src="@{/js/jquery-3.7.1.js}"></script>
 -->
	<script>
		$('.btn-edit').on('click', function (event) {
			event.stopPropagation(); // Ngăn chặn sự kiện bubbling
			var field = $(this).data('field');
			var button = $(this);
			var input = $('#' + field);
			var errorMessage = $('#' + field + 'Error');

			// Reset thông báo lỗi
			errorMessage.text('');

			if (field !== 'password') {
				// Kiểm tra trạng thái readonly và disabled
				if (input.prop('readonly')
					|| input.prop('disabled')) {
					input.prop('readonly', false);
					input.prop('disabled', false);
					button.html('<i class="fas fa-save"></i>');
					button.removeClass('btn-outline-info')
						.addClass('btn-success');
				} else {
					var updatedValue = input.val().trim();

					if (field === 'name' && updatedValue === '') {
						errorMessage
							.text('Tên không được để trống!');
						return;
					}
					if (field === 'address'
						&& updatedValue === '') {
						errorMessage
							.text('Địa chỉ không được để trống!');
						return;
					}
					if (field === 'phone'
						&& updatedValue === '') {
						errorMessage
							.text('Số điện thoại không được để trống!');
						return;
					}
					if (field === 'phone' && !/^(0|\+84)(\s|\.)?((3[2-9])|(5[689])|(7[06-9])|(8[1-689])|(9[0-46-9]))(\d)(\s|\.)?(\d{3})(\s|\.)?(\d{3})$/.test(updatedValue)) {
					    errorMessage.text('Số điện thoại không đúng định dạng!');
					    return;
					}

					$.ajax({
						type: "POST",
						url: "/information/update-info",
						data: {
							field: field,
							value: updatedValue
						},
						success: function (response) {
							alert('Cập nhật thành công!');

							if (field === 'name') {
								$('#username').text(
									updatedValue);
							}
							input
								.prop('readonly',
									true);
							input
								.prop('disabled',
									true);
							button
								.html('<i class="fas fa-edit"></i>');
							button
								.removeClass(
									'btn-success')
								.addClass(
									'btn-outline-info');
						}, error: function (xhr, status, error) {
							errorMessage
								.text('Có lỗi xảy ra khi cập nhật: '
									+ error);
						}
					});
				}
			} else {
				// Hiển thị modal đổi mật khẩu
				$('#passwordModal').modal('show');
			}
		});
		$('#savePassword').on('click', function (event) {
			event.preventDefault();

			var oldPassword = $('#oldPassword').val().trim();
			var newPassword = $('#newPassword').val().trim();
			var confirmNewPassword = $('#confirmNewPassword').val().trim();

			$('#passwordError').text('');
			$('#newPasswordError').text('');
			$('#confirmPasswordError').text('');

			if (oldPassword === '') {
				$('#passwordError').text('Mật khẩu cũ không được để trống!');
				return;
			}
			if (newPassword === '') {
				$('#newPasswordError').text('Mật khẩu mới không được để trống!');
				return;
			}
			if (newPassword !== confirmNewPassword) {
				$('#confirmPasswordError').text('Mật khẩu mới không khớp!');
				return;
			}

			var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$/;
			if (!passwordPattern.test(newPassword)) {
    			$('#newPasswordError').text('Mật khẩu mới phải chứa ít nhất 1 chữ hoa, 1 chữ thường, 1 số và ít nhất 8 ký tự!');
    			return;
			}

			$.ajax({
				type: "POST",
				url: "/information/change-password",
				data: {
					oldPassword: oldPassword,
					newPassword: newPassword,
					confirmNewPassword: confirmNewPassword
				},
				success: function (response) {
					if (response === 'Mật khẩu cũ không đúng!') {
						$('#passwordError').text('Mật khẩu cũ không đúng!');
					} else if (response === 'Mật khẩu mới không khớp!') {
						$('#confirmPasswordError').text('Mật khẩu mới không khớp!');
					} else if (response === 'Mật khẩu đã được thay đổi thành công!') {
						alert('Mật khẩu đã được thay đổi thành công!');
						$('#passwordModal').modal('hide');

						$('#oldPassword').val('');
						$('#newPassword').val('');
						$('#confirmNewPassword').val('');
					}
				},
				error: function (xhr, status, error) {
					$('#passwordError').text('Có lỗi xảy ra: ' + xhr.responseText);
				}
			});
		});

	</script>

</body>

</html>