<!---->
<!--Trần Thảo-->
<!---->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}">

</head>
<head><link rel="stylesheet" th:href="@{/css/login.css}"></head>
<body>
	<div th:replace="~{/fragment/navHome :: navHome}"></div> 
	<div
		class="login-container d-flex align-items-center justify-content-center">
		<div class="login-box">
			<h2 class="text-center mb-4">Đăng Nhập</h2>
			<form th:action="@{/login/loginsuccess}" method="post"
				th:object="${user}">
				<!-- Thêm CSRF token -->
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}">

				<div class="form-group">
					<label for="email">Email</label>
					<!-- Thay đổi name từ "email" thành "username" -->
					<input type="email" class="form-control" id="email" name="username"
						placeholder="Nhập email" th:field="*{email}">
					<!-- Hiển thị lỗi từ validation -->
					<div style="color: red;" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">Email error</div>
					<!-- Hiển thị lỗi nếu email đã tồn tại -->
					<div style="color: red;" th:if="${errorEmail != null}"
						th:text="${errorEmail}"></div>
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label> <input type="password"
						class="form-control" id="password" name="password"
						placeholder="Nhập mật khẩu" th:field="*{password}">
					<!-- Hiển thị lỗi từ validation -->
					<div style="color: red;" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Password error</div>
					<!-- Hiển thị lỗi nếu email đã tồn tại -->
					<div style="color: red;" th:if="${errorPassword != null}"
						th:text="${errorPassword}"></div>
					<div style="color: red;" th:if="${errorStatus != null}"
						th:text="${errorStatus}"></div>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="rememberMe">
					<label class="form-check-label" for="rememberMe">Ghi nhớ
						tài khoản</label>
				</div>
				<button type="submit" class="btn btn-dark btn-block">Đăng
					Nhập</button>
				<div class="text-center mt-3">
					<a href="/forget-password" class="text-light">Quên mật khẩu?</a>
				</div>
				<div class="text-center mt-2">
					<a href="/register/register" class="text-light">Chưa có tài khoản? Đăng ký ngay</a>
				</div>
			</form>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>