<!-- Author: Nguyen Cong Huan. 06/03/1999 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/head :: head}">
</head>
<body>
	<div th:replace="~{/fragment/navigation :: navigation}"></div>
	<div class="container">
		<h2>List Products</h2>
		<div class="rows">
			<div class="col-sm-9">
				<table class="table">
					<thead>
						<tr>
							<th>Photo</th>
							<th>ID</th>
							<th>Name</th>
							<th>Price</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!-- Thymeleaf loop -->
						<tr th:each="product : ${products}">
							<td align="center" width="120"><img th:src="@{/img/vay.jpg}"
								width="100" height="100" /></td>
							<td th:text="${product.id}"></td>
							<td th:text="${product.productName}"></td>
							<td th:text="${product.price}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{'/shopping-cart/add/' + ${product.id}}">Buy now</a> 
								<a class="btn btn-primary btn-sm add-to-cart"
								th:href="@{'/shopping-cart/add/' + ${product.id}}"
								onclick="addToCart(event, this);">Add to Cart</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="~{/fragment/footer :: footer}"></div>
	<script th:inline="javascript" th:src="@{/js/product-view.js}" defer></script>


</body>
</html>
