<!-- Duong Van Luc 01/07/2000 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html lang="en"> -->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thông tin khách hàng</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
 <link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/navigation.css">
<script src="/js/purchase-history.js" defer></script>
<style>
body, html {
	height: 92%;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #F0F0F0;
}

.wrapper {
	display: flex;
	min-height: 100%;
}

.sidebar {
	width: 250px;
	min-height: 100%;
	background-color: white;
	color: #000000;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.sidebar a {
	color: #000000;
	text-decoration: none;
	padding: 15px;
	display: block;
	font-size: 18px;
}

.sidebar a:hover {
	background-color: #F0F0F0;
}

/* Content styles */
.content {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
}

.form-group .btn {
	width: 40px;
	height: 40px;
}
</style>
</head>

<body>

	<div th:replace="~{/fragment/navHome :: navHome}"></div>
	<div class="wrapper mt-5">
		<!-- Sidebar -->
		<div class="sidebar mr-3 ml-5">
			<h5
				class="text-center font-weight-bold border-bottom pb-2 custom-border ml-2 mr-2 mb-0">TÀI
				KHOẢN</h5>
			<a href="/information"
				class="d-block border-bottom py-2 ml-2 mr-2 pb-3 pt-3"><i
				class="fas fa-user mr-2"></i> Thông tin người dùng</a> <a
				href="/information/purchase-history"
				class="d-block border-bottom py-2 ml-2 mr-2 pb-3 pt-3 mb-2"><i
				class="fas fa-history mr-2"></i> Lịch sử giao dịch</a>
		</div>

		<!-- Content -->
		<div class="content mr-5" style="background-color: white;">
			<div class="container">
				<h5 class="text-center font-weight-bold">LỊCH SỬ GIAO DỊCH</h5>
				<div th:if="${transactionHistoriesPage.totalElements == 0}"
					class="d-flex justify-content-center align-items-center"
					style="height: 50vh;">
					<p class="text-muted h4">Không có lịch sử giao dịch.</p>
				</div>
				<div th:if="${transactionHistoriesPage.totalElements > 0}">
					<table class="table table-striped mt-3">
						<thead>
							<tr>
								<th>Mã đơn hàng</th>
								<th>Ngày đặt hàng</th>
								<th>Ngày thanh toán</th>
								<th>Trạng thái đơn hàng</th>
								<th>Trạng thái thanh toán</th>
								<th>Tổng tiền</th>
								<th>Chi tiết</th>
							</tr>
						</thead>
						<tbody>
							<!-- Lặp qua danh sách transactionHistories để hiển thị dữ liệu -->
							<tr th:each="history : ${transactionHistoriesPage.content}">
								<td th:text="${history.orderId}">Mã đơn hàng</td>
								<td th:text="${history.orderDate}">Ngày đặt hàng</td>
								<td th:text="${history.transactionDate}">Ngày thanh toán</td>
								<td th:text="${history.orderStatus}">Trạng thái đơn hàng</td>
								<td th:text="${history.transactionStatus}">Trạng thái thanh
									toán</td>
								<td th:text="${history.transactionAmount}">Tổng tiền</td>
								<td><a
									th:href="@{/order/details/{id}(id=${history.orderId})}"
									class="">Xem</a></td>
							</tr>
						</tbody>
					</table>

					<!-- Hiển thị phân trang -->
					<nav>
						<ul class="pagination justify-content-end">
							<!-- Nút "Đầu" -->
							<li class="page-item"
								th:classappend="${transactionHistoriesPage.first} ? 'disabled'">
								<a class="page-link"
								th:href="@{/information/purchase-history(page=0, size=${transactionHistoriesPage.size})}">Đầu</a>
							</li>

							<!-- Nút "Trước" -->
							<li class="page-item"
								th:classappend="${!transactionHistoriesPage.hasPrevious()} ? 'disabled'">
								<a class="page-link"
								th:href="@{/information/purchase-history(page=${transactionHistoriesPage.number - 1}, size=${transactionHistoriesPage.size})}">Trước</a>
							</li>

							<!-- Hiển thị các trang liền kề -->
							<li class="page-item"
								th:each="pageNum : ${#numbers.sequence(
        transactionHistoriesPage.number == 0 ? 0 : (transactionHistoriesPage.number == transactionHistoriesPage.totalPages - 1 ? transactionHistoriesPage.number - 2 : transactionHistoriesPage.number - 1),
        transactionHistoriesPage.totalPages <= 3 ? transactionHistoriesPage.totalPages - 1 : (transactionHistoriesPage.number == 0 ? 2 : (transactionHistoriesPage.number == transactionHistoriesPage.totalPages - 1 ? transactionHistoriesPage.number : transactionHistoriesPage.number + 1))
    )}"
								th:classappend="${pageNum == transactionHistoriesPage.number} ? 'active'">
								<a class="page-link"
								th:href="@{/information/purchase-history(page=${pageNum}, size=${transactionHistoriesPage.size})}"
								th:text="${pageNum + 1}">1</a>
							</li>


							<!-- Nút "Sau" -->
							<li class="page-item"
								th:classappend="${!transactionHistoriesPage.hasNext()} ? 'disabled'">
								<a class="page-link"
								th:href="@{/information/purchase-history(page=${transactionHistoriesPage.number + 1}, size=${transactionHistoriesPage.size})}">Sau</a>
							</li>

							<!-- Nút "Cuối" -->
							<li class="page-item"
								th:classappend="${transactionHistoriesPage.last} ? 'disabled'">
								<a class="page-link"
								th:href="@{/information/purchase-history(page=${transactionHistoriesPage.totalPages - 1}, size=${transactionHistoriesPage.size})}">Cuối</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{/fragment/footer :: footer}"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>